<div class="store_container">
  <h3 class="mat-display-1" *ngIf="loaded">{{ 'store.title' | translate }}</h3>
  <div class="cards">
    <mat-spinner *ngIf="!loaded" diameter="80" class="spinner"></mat-spinner>
    <mat-card *ngFor="let item of pageItems" class="module">
      <h4>{{item.name.toUpperCase()}}</h4>
      <div class="item_info">
        <img [src]="item.image" alt="img">

      </div>
      <span class="price">{{ 'store.price' | translate }}: <strong>{{item.price}}</strong> XRP</span>
      <button class="btn_buy" mat-raised-button color="accent">{{ 'store.button' | translate }}</button>
    </mat-card>
  </div>
<mat-paginator #paginator [length]="15" [pageSize]="5" (click)="changePage(paginator)"></mat-paginator>
</div>
