<mat-dialog-content>
    <form #form="ngForm">
    <mat-form-field class="example-form-field">
      <mat-label>{{ 'addHero.name' | translate }}</mat-label>
      <input matInput type="text" #heroName [formControl]="nameFormControl">
      <mat-error *ngIf="nameFormControl.hasError('minlength')">
        {{ 'validators.minName' | translate }}
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('pattern')">
        {{ 'validators.alphabet' | translate }}
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        {{ 'validators.requiredName' | translate }}
      </mat-error>
    </mat-form-field> <br>

    <mat-form-field class="example-form-field">
      <mat-label>{{ 'addHero.age' | translate }}</mat-label>
      <input matInput #heroAge type="number" [formControl]="ageFormControl">
      <mat-error *ngIf="ageFormControl.hasError('max')">
        {{ 'validators.maxAge' | translate }}
      </mat-error>
      <mat-error *ngIf="ageFormControl.hasError('min')">
        {{ 'validators.minAge' | translate }}
      </mat-error>
      <mat-error *ngIf="ageFormControl.hasError('required')">
        {{ 'validators.requiredAge' | translate }}
      </mat-error>
    </mat-form-field> <br>

    <mat-form-field class="example-form-field">
      <mat-label>{{ 'addHero.level' | translate }}</mat-label>
      <input matInput #heroLevel type="number" [formControl]="levelFormControl">
      <mat-error *ngIf="levelFormControl.hasError('max')">
        {{ 'validators.maxLevel' | translate }}
      </mat-error>
      <mat-error *ngIf="levelFormControl.hasError('min')">
        {{ 'validators.minLevel' | translate }}
      </mat-error>
      <mat-error *ngIf="levelFormControl.hasError('required')">
        {{ 'validators.requiredLevel' | translate }}
      </mat-error>
    </mat-form-field><br>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'addHero.select' | translate }}</mat-label>
      <mat-select #heroClass [formControl]="classControl" required>
        <mat-option value="Barbarian">{{ 'classes.barbarian' | translate }}</mat-option>
              <mat-option value="Cleric">{{ 'classes.cleric' | translate }}</mat-option>
              <mat-option value="Fighter">{{ 'classes.fighter' | translate }}</mat-option>
              <mat-option value="Rogue">{{ 'classes.rogue' | translate }}</mat-option>
              <mat-option value="Wizard">{{ 'classes.wizard' | translate }}</mat-option>
      </mat-select>
      <mat-error *ngIf="classControl.hasError('required')">{{ 'validators.class' | translate }}</mat-error>
    </mat-form-field> <br>

  </form>
</mat-dialog-content>

  <mat-dialog-actions>
    <button color="primary"
            mat-dialog-close
            mat-raised-button [disabled]="anyErrors()"
            (click)="add(heroName.value, heroAge.value, heroLevel.value, heroClass.value);
                     heroAge.value=''; heroName.value=''; heroLevel.value=''; heroClass.value = '';">
                     {{ 'addHero.add' | translate }}
    </button>

  <button mat-raised-button
          mat-dialog-close
          color="primary"
          >
          {{ 'addHero.close' | translate }}
  </button>
</mat-dialog-actions>
