
button:hover {
  background-color: #cfd8dc;
  color: rgba(194, 24, 91, 1);
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.hero-detail {
  margin-top: 15px;
  width: 100%;
}

.example-header-image {
  background-image: url('https://cdna.artstation.com/p/assets/images/images/011/106/352/large/nikolay-sladkov-barbarian-plussize-01.jpg');
  background-size: cover;
}

.example-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

input {
  color: #fff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  padding: 16px 0;
}

.mat-card-header {
  padding-left: 10px;
}


.spinner {
  margin: 20px 0;
}


.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_nav {
  width: 290px;
}

.info_group {
  padding-top: 20px;
}

.equip_group {
  padding-top: 20px;
}

.cash {
  margin-bottom: 20px;
}

.table_container {
  margin-top: 20px;
  max-height: 200px;
  overflow: auto;
}

.heroes_table {
  display: flex;
  align-items: center;
  flex-direction: column;
}

tr, td {
  outline: none;
}

tr:hover {
  background-color: rgb(105, 105, 105);
}

table {
  width: 270px;
  margin: 20px auto;
}

tr td:last-child {
  width: 1%;
  white-space: nowrap;
  padding-right: 10px;
}

.hero_name {
  cursor: pointer;
}

.mat-display-1 {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
  opacity: .8;
}

mat-divider {
  margin: 10px 0;
}
