<mat-card class="example-card">
<mat-spinner *ngIf="!loaded" diameter="80" class="spinner"></mat-spinner>
<div *ngIf="hero" class="hero-detail">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{hero.name | uppercase}} {{'card.title' | translate}}:</mat-card-title>
    <mat-card-subtitle>
      <span>{{ 'card.age' | translate}}: </span>
      <strong>{{hero.age}} </strong> &nbsp;
      <span>{{ 'card.level' | translate}}: </span>
      <strong>{{hero.level}} </strong> &nbsp;
      <span>id: </span>
      <strong>{{hero.id}}</strong>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    <mat-button-toggle-group name="card-nav" aria-label="Card-nav" class="card_nav">
      <mat-button-toggle (click)="cardNav('info')"
      value="info" class="card_nav" >{{ 'card.info' | translate }}</mat-button-toggle>
      <mat-button-toggle (click)="cardNav('equip')"
      value="equipment" class="card_nav">{{ 'card.inventory' | translate }}</mat-button-toggle>
    </mat-button-toggle-group>
        <div *ngIf="info" class="info_group">
          <mat-form-field class="example-form-field forms_mat">
            <mat-label>{{ 'card.name' | translate }}</mat-label>
            <input matInput type="text" [formControl]="nameFormControl" [(ngModel)]="hero.name" name="name">
            <mat-error *ngIf="nameFormControl.hasError('minlength')">
              {{ 'validators.minName' | translate }}
            </mat-error>
            <mat-error *ngIf="nameFormControl.hasError('pattern')">
              {{ 'validators.alphabet' | translate }}
            </mat-error>
            <mat-error *ngIf="nameFormControl.hasError('required')">
              {{ 'validators.requiredName' | translate }}
            </mat-error>
          </mat-form-field> <br>
          <mat-form-field appearance="fill" class="forms_mat">
            <mat-label>{{ 'card.class' | translate}}</mat-label>
            <mat-select disableRipple [(ngModel)] = "hero.heroClass" name="hero.heroClass">
              <mat-option value="Barbarian">{{ 'classes.barbarian' | translate }}</mat-option>
              <mat-option value="Cleric">{{ 'classes.cleric' | translate }}</mat-option>
              <mat-option value="Fighter">{{ 'classes.fighter' | translate }}</mat-option>
              <mat-option value="Rogue">{{ 'classes.rogue' | translate }}</mat-option>
              <mat-option value="Wizard">{{ 'classes.wizard' | translate }}</mat-option>
            </mat-select>
          </mat-form-field><br>
          <mat-form-field appearance="fill" class="forms_mat">
            <mat-label>{{ 'card.friends' | translate}}</mat-label>
            <mat-select multiple [formControl]="friendsControl" [(ngModel)] = "hero.friends">
              <mat-option *ngFor="let hero2 of heroes" [value]="hero2.name">{{hero2.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="!info">
          <div class="equip_group">
            <span class="cash"><strong>{{ 'card.cash' | translate}}: </strong>{{hero.cash}} xrp</span>
            <mat-divider></mat-divider>
            <div class="table_container">
            <table mat-table [dataSource]="hero.items" class="mat-elevation-z8">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> {{ 'card.item' | translate}} </th>
                <td mat-cell *matCellDef="let item" class="hero_name"> {{item}}
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef ></th>
              <td mat-cell *matCellDef="let item" >
                  <button mat-icon-button color="primary" (click)="openDialogDelete(item)" *hasPermission="permission">
                      <mat-icon>delete</mat-icon>
                  </button>
              </td>
            </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
            </table>
          </div>
          </div>
        </div>
  </mat-card-content>
</div>
<mat-card-actions *ngIf="loaded">
    <button mat-raised-button color="primary" *hasPermission="permission" (click)="save()" [disabled]="nameFormControl.invalid">{{ 'card.save' | translate}}</button>
    <button mat-raised-button color="primary" (click)="goBack()">{{ 'card.back' | translate}}</button>
</mat-card-actions>
</mat-card>

