
button:hover {
  background-color: #cfd8dc;
  color: rgba(194, 24, 91, 1);
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.hero-detail {
  margin: 15px 0;
  width: 100%;
}

.example-header-image {
  background-image: url('https://cdna.artstation.com/p/assets/images/images/011/106/352/large/nikolay-sladkov-barbarian-plussize-01.jpg');
  background-size: cover;
}

.example-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  color: #fff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
