<p>
  <mat-toolbar color="primary" class="header">
  <div class="header_menu">
   <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    <span>{{ 'menu.dashboard' | translate }}</span>
  </button>
  <button mat-menu-item routerLink="/heroes">
    <mat-icon>group</mat-icon>
    <span>{{ 'menu.heroes' | translate }}</span>
  </button>
  <button mat-menu-item routerLink="/store">
    <mat-icon>local_grocery_store</mat-icon>
    <span>{{ 'menu.store' | translate }}</span>
  </button>
  <button mat-menu-item routerLink="/register" *ngIf="!auth.loggedIn()">
    <mat-icon>how_to_reg</mat-icon>
    <span>{{ 'menu.register' | translate }}</span>
  </button>
  <button mat-menu-item routerLink="/login" *ngIf="!auth.loggedIn()">
    <mat-icon>login</mat-icon>
    <span>{{ 'menu.login' | translate }}</span>
  </button>
  <button mat-menu-item *ngIf="auth.loggedIn()" (click)="auth.logoutUser()">
    <mat-icon>logout</mat-icon>
    <span>{{ 'menu.logout' | translate }}</span>
  </button>
</mat-menu>
<button mat-icon-button (click)=changeLang()>
  <mat-icon>language</mat-icon>
</button>
  <h1 *ngIf="translatesLoaded">{{ 'header.title' | translate }}</h1>
  </div>
      <app-hero-search *ngIf="translatesLoaded"></app-hero-search>
</mat-toolbar>
</p>
<router-outlet></router-outlet>

