<p>
  <mat-toolbar color="primary" class="header">
  <div class="header_menu">
   <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
    <span>{{ 'menu.dashboard' | translate }}</span>
  </button>
  <button mat-menu-item routerLink="/heroes">
    <mat-icon>group</mat-icon>
    <span>{{ 'menu.heroes' | translate }}</span>
  </button>
  <button mat-menu-item routerLink="/store">
    <mat-icon>local_grocery_store</mat-icon>
    <span>{{ 'menu.store' | translate }}</span>
  </button>
</mat-menu>
<button mat-icon-button (click)=changeLang()>
  <mat-icon>language</mat-icon>
</button>
  <h1>{{ 'header.title' | translate }}</h1>
  </div>
    <app-hero-search></app-hero-search>
</mat-toolbar>
</p>
<router-outlet></router-outlet>

