a {
  text-decoration: none;
}
*, *::after, *::before {
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
h4 {
  position: relative;
  font-size: 20px;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  width: 300px;
  background-color: #3f525c;
  border-radius: 2px;
  margin: 20px;
}
.module:hover {
  background-color: rgba(194, 24, 91, .6);
  cursor: pointer;
  
}

.mat-display-1 {
  margin-bottom: 0px;
  color: #fff;
  opacity: .8;
}

.cards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: wrap row;
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
  }
@media (max-width: 1024px) {
  .module {
    min-width: 60px;
  }
}
